*{
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: #111;
}
/* -------------Header---------------- */
/* header{
    width: 100%;
    min-height: 90px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #111;
    position: relative;

}


.logo{
    font-size: 2em;
    color: red;
    margin-left: 100px;
}
.logo h2{
    letter-spacing: 2px;
}
ul{
    flex: 2;
    text-align: right;
    margin-right: 50px;
    list-style: none;
}
ul li{
    display: inline-block;
}
ul li a {
    color: whitesmoke;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1.5rem;
    transition: color 650ms;
}

ul li label {
    color: whitesmoke;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1.5rem;
    transition: color 650ms;
}
ul li a:hover {
    color: red;
}
ul li label:hover{
    color:red;
}
.search{
    max-width: 250px;
    width: 100%;
    height: 30px;
    margin-right: 100px;
}
.search input{
    width: 200px;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 10px;
}
.search button{
    width: 45px;
    height: 100%;
    border: none;
    cursor: pointer;
    outline: none;
    background: white;
}
.menu-close{
    color: white;
    position: absolute;
    top:15px;
    right: 5px;
    font-size: 2em;
    display: none;
}

.menu-open{
    color: white;
    position: absolute;
    top:50%;
    left: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 2em;
    display: none;
}


-------------sub menu categorie-----------




#chk2{
    display: none;
}
.sub-menu{
    //display: none;
    height: 0;
    overflow: hidden;
    position: absolute;
    height: 100vh;
    width: 100%;
    left: 0;
    z-index: 1;
    transition: opacity 0.5s ease-out ;
    opacity: 0;
}

#chk2:checked ~ .sub-menu{
    display: block;
    position: fixed;
    opacity: 1;
    height: auto;

}

#chk2:checked{
    overflow-y: auto;
}

#chk2:not(:checked) ~ .sub-menu{
    pointer-events: none;
} */

/* -----------------Spacer---------------- */



/* -----------------Section---------------- */
section{
    position: relative;
    /* top: 20%; */
}
.container{
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
}
.slides{
    width: 100%;
    height: 100%;
    position: relative;
    animation: fade 1s ease-in-out;
}
@keyframes fade{
    to{
        opacity: 1;
    }
    from{
        opacity: 0;
    }
}
.slides img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    filter: brightness(45%);
}
.slides .content{
    position: absolute;
    left: 50px;
    bottom: 100px;
    color: white;
    max-width: 400px;
    text-shadow: 0 0 1px #000;
}
.content h2{
    font-size: 2em;
    letter-spacing: 2px;
}
.content p{
    line-height: 1.4;
    margin: 10px 0;
}
.content a{
    display: inline-block;
    text-decoration: none;
    color: white;
    background: #0009;
    padding: 10px 15px;
}
.content a:hover{
    background: red;
}

.content button{
    display: inline-block;
    text-decoration: none;
    color: white;
    background: #0009;
    padding: 10px 15px;
    border-width: 0px;
    font-size: 16px;
    margin-left: 5px;
}
.content button:hover{
    background: chocolate;
}
/* ----------------------Part 2 per lo slider------------------ */
.riga{
    width: 90%;
    height: auto;
    margin: 0 auto;
    position: relative;
    margin-top: 30px;
}
.riga h2{
    color: red;
    letter-spacing: 2px;
}
.nav{
    width: 100%;
    height: 220px;
    overflow: hidden;
    padding: 10px 0;
    scroll-behavior: smooth;
}
.nav .nav-bar{
    width: 100%;
    height: 200px;
    display: flex;
}
.nav-bar .colonna{
    min-width: 25%;
    height: 100%;
    transition: 0.3s linear;
    cursor: pointer;
}
.colonna img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.active{
    transform: scale(1.1);
    border: 1px solid #fff;
}
.prev, .next{
    position: absolute;
    top:40%;
    font-size: 3.5em;
    background: #0009;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}
.next{
    right: 0;
}
/* -----------------Responsiveness -------------- */
@media (max-width: 1100px){

    .logo{
        margin-left: 50px;
    }
    .search{
        margin-right: 10px;
    }
    ul{
        margin-right: 10px;
    }

    /* ul{
        position: fixed;
        top:0;
        left: -100%;
        background: #111;
        width: 100%;
        height: 100vh;
        z-index: 99;
        padding-top: 80px;
        text-align: center;
        overflow: hidden;
        transition: 0.5s linear;
    } */
    /* ul li{
        display: block;
        padding: 20px 50px;
    }
    .sub-menu a{
        float: none;
        padding: 16px;
        display: block;
        text-align: center;
    } */

    .menu-close,
    .menu-open{
        display: block;
        cursor: pointer;
    }
}
@media (max-width: 960px){

    .nav .nav-bar{
        /* height: auto; */
        /* flex-wrap: wrap; */
        transition: 0.5s linear;
        width: 34%;
    }

    .nav-bar .colonna{
        min-width: 100%;
    }
    /* ul{
        position: fixed;
        top:0;
        left: -100%;
        background: #111;
        width: 100%;
        height: 100vh;
        z-index: 99;
        padding-top: 80px;
        text-align: center;
        overflow: hidden;
        transition: 0.5s linear;
    }
    ul li{
        display: block;
        padding: 20px 50px;
    }
    .sub-menu a{
        float: none;
        padding: 16px;
        display: block;
        text-align: center;
    }

    .menu-close,
    .menu-open{
        display: block;
        cursor: pointer;
    } */

}
#chk1:checked ~ ul{
    left: 0;

}
#chk1{
    display: none;
}
@media (max-width: 760px){

    /*.riga .nav{
        height: auto;
    }*/
    .nav .nav-bar{
        /* height: auto; */
        /* flex-wrap: wrap; */
        transition: 0.5s linear;
        width: 400%;
    }
    .nav-bar .colonna{
        min-width: 25%;
    }
    /* .colonna{
        width: 25%;
    } */

    .colonna{
        visibility: hidden;


    }

    .colonna.active{
        visibility: visible;


    }
    .prev, .next{
        /* display: none; */
        position: absolute;
        top: 50%;
    }

}
@media (max-width: 550px){

    .nav .nav-bar{
        /* height: auto; */
        /* flex-wrap: wrap; */
        transition: 0.5s linear;
        width: 400%;
    }

    /* .search{
        position: fixed;
        top:20px;
        z-index: 99;
        left: -100%;
        transform: translateX(-50%);
        transition: 0.5s linear;
    }
    #chk1:checked ~ .search{
        left: 50%;
    } */
}
